@import "./_navigation.css";
@import "./_button.css";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(251, 251, 251);
  border-bottom: solid 3px rgba(251, 251, 251, 0.3);
}

