@media screen and (min-width: 1280px) {
.hero-section {
  min-height: 90vh;
  background: url(../img/hero-image.svg) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-row: 1 / 2;
}

.hero-box {
  display: flex;
  align-items: left;
  justify-content: left;
  grid-row: 2 / 3;
}
}

.black-button {
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 1);
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-top: 6rem;
}

.hero-social-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;
}

.hero-social-button img {
  width: 30px;
  height: 30px;
}